:root {
  /* Primary Colors  */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --moderate-cyan-footer: hsl(165, 46%, 74%);

  /* Neutral Colors */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 18px;
}

.landing-page-container {
  min-width: 320px;
}

/* START HEADER CSS */
header {
  background-image: url("./images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 600px;
  height: auto;
  text-align: center;
}

header h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Fraunces", serif;
  font-weight: 700;
  letter-spacing: 5px;
  padding: 70px 25px;
  color: white;
  text-transform: uppercase;
}

header .arrow-down {
  height: 130px;
}
/* END HEADER CSS */

/* START NAV CSS */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 25px;
}

.navbar-toggler {
  background: none;
  border: none;
}

nav .menu {
  position: absolute;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  height: 0;
}
nav .menu ul {
  margin: 0 30px;
  background-color: white;
  text-align: center;
  padding: 30px;
}

nav .menu li:not(:last-child) {
  padding: 17px;
  list-style: none;
}

nav .menu li:last-child {
  padding: 10px;
  list-style: none;
}

nav .menu a {
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  color: var(--dark-grayish-blue);
}

nav .menu a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: inherit;
}

nav .menu .contact {
  background-color: var(--yellow);
  border: none;
  width: 130px;
  padding: 15px;
  border-radius: 25px;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
}

/* END NAV CSS */

/* START SERVICES CSS */
.services article {
  text-align: center;
}

.services article h2 {
  padding-top: 50px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 32px;
}

.services article p {
  padding: 25px 0px;
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  color: var(--dark-grayish-blue);
}

.services article a {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 900;
}

.services .tranform-brand-section,
.services .stand-out-section {
  display: flex;
  flex-direction: column-reverse;
}

.services .tranform-brand-section article,
.services .stand-out-section article {
  padding: 25px;
}

.services .tranform-brand-section img {
  background-image: url("./images/mobile/image-transform.jpg");
  min-height: 300px;
  height: auto;
  background-size: cover;
  background-position: center center;
  border: none;
}

.services .stand-out-section img {
  background-image: url("./images/mobile/image-stand-out.jpg");
  height: auto;
  background-size: cover;
  background-position: center center;
  min-height: 315px;
  background-size: cover;
  background-repeat: no-repeat;
}

.services .graphic-design-section article,
.services .photography-section article {
  padding: 20px;
  font-size: 16px;
}

.services .graphic-design-section article,
.services .photography-section article {
  padding: 20px;
  font-size: 16px;
}

.services .graphic-design-section {
  background-image: url("./images/mobile/image-graphic-design.jpg");
  color: var(--very-dark-desaturated-blue);
  background-size: cover;
  height: 600px;
}

.services .graphic-design-section article,
.services .photography-section article {
  position: relative;
  bottom: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.services .graphic-design-section p,
.services .photography-section p {
  color: var(--very-dark-desaturated-blue);
}

.services .photography-section {
  background-image: url("./images/mobile/image-photography.jpg");
  color: var(--very-dark-desaturated-blue);
  background-size: cover;
  height: 600px;
}
/* END SERVICES CSS */

/* START CLIENT TESTIMONIALS CSS */
.testimonial-section {
  padding-top: 60px;
  text-align: center;
}

.testimonial-section h2 {
  color: var(--grayish-blue);
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 5px;
  font-weight: 900;
}

.client-testimonial-group {
  padding-top: 25px;
}

.client {
  padding: 35px 20px;
}

.client .client-img {
  border-radius: 50%;
  width: 70px;
}

.client .testimonial {
  padding: 30px 5px;
  font-family: "Barlow", sans-serif;
  line-height: 1.75;
  color: var(--very-dark-grayish-blue);
  font-weight: 600;
}

.client .name {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 18px;
  padding-bottom: 10px;
}

.client .job-title {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  color: var(--grayish-blue);
}
/* END CLIENT TESTIMONIALS CSS */

/* START IMAGE GALLERY CSS */
.image-gallery {
  display: grid;
}

.image-gallery .milk-bottles {
  background: url("./images/mobile/image-gallery-milkbottles.jpg");
  background-size: cover;
  background-position: center center;
  grid-row: 1;
  grid-column: 1;
  height: auto;
  min-height: 200px;
  width: 100%;
}

.image-gallery .orange {
  grid-row: 1;
  grid-column: 2;
  background: url("./images/mobile/image-gallery-orange.jpg");
  background-size: cover;
  background-position: center center;
  height: auto;
  max-width: 100%;
  min-height: 200px;
}

.image-gallery .cone {
  grid-row: 2;
  grid-column: 1;
  background: url("./images/mobile/image-gallery-cone.jpg");
  background-size: cover;
  background-position: center center;
  height: auto;
  max-width: 100%;
  min-height: 200px;
}

.image-gallery .sugar-cubes {
  grid-row: 2;
  grid-column: 2;
  background: url("./images/mobile/image-gallery-sugar-cubes.jpg");
  background-size: cover;
  background-position: center center;
  height: auto;
  max-width: 100%;
  min-height: 200px;
}
/* END IMAGE GALLERY CSS */

/* START FOOTER CSS */
footer {
  background-color: var(--moderate-cyan-footer);
  text-align: center;
}

.footer-nav {
  padding-top: 60px;
}

.footer-nav .logo {
  height: 35px;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
}

.footer-nav li {
  list-style: none;
  cursor: pointer;
  font-family: "B";
  color: var(--dark-moderate-cyan);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  padding: 30px;
}

footer .social-media-links {
  padding: 60px;
}

footer .social-media-links a {
  padding: 0 10px;
}
footer .attribution {
  padding-bottom: 10px;
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: hsl(228, 45%, 44%);
}

/* END FOOTER CSS */
