:root {
  /* Primary Colors  */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --moderate-cyan-footer: hsl(165, 46%, 74%);

  /* Neutral Colors */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 18px;
}

.landing-page-container {
  min-width: 320px;
}

/* START HEADER CSS */
header {
  background-image: url("./images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 600px;
  height: auto;
  text-align: center;
}

header h1 {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  letter-spacing: 5px;
  padding: 70px 25px;
  color: white;
  text-transform: uppercase;
}

header .arrow-down {
  height: 130px;
}
/* END HEADER CSS */

/* START NAV CSS */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 25px;
}

.navbar-brand .logo {
  height: 1.5rem;
}

.navbar-toggler {
  background: none;
  border: none;
}

.navbar-toggler img {
  height: 1.3rem;
}

nav .menu {
  position: absolute;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  height: 0;
}
nav .menu ul {
  margin: 0 30px;
  background-color: white;
  text-align: center;
  padding: 30px;
}

nav .menu li:not(:last-child) {
  padding: 17px;
  list-style: none;
}

nav .menu li:last-child {
  padding: 10px;
  list-style: none;
}

nav .menu a {
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  color: var(--dark-grayish-blue);
}

nav .menu a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: inherit;
}

nav .menu .contact {
  background-color: var(--yellow);
  border: none;
  width: 130px;
  padding: 15px;
  border-radius: 25px;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
}

/* END NAV CSS */

/* START SERVICES CSS */
.services article {
  text-align: center;
}

.services article h2 {
  padding-top: 40px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.7rem;
}

.services article p {
  padding: 30px 0px 20px;
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  color: var(--dark-grayish-blue);
}

.services .learn-more {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services .text {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 16px;
}

.services .text-underline {
  height: 10px;
  background-color: black;
  width: 130px;
  position: relative;
  border-radius: 5px;
  bottom: 7px;
  opacity: 0.25;
}

.services .tranform-brand-section,
.services .stand-out-section {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 40px;
}

.services .tranform-brand-section article,
.services .stand-out-section article {
  /* padding: 20px 25px; */
  padding: 2rem 1.5rem;
  max-width: 480px;
  margin: 0 auto;
}

.services .tranform-brand-section .learn-more .text-underline {
  background-color: var(--yellow);
}

.services .stand-out-section .learn-more .text-underline {
  background-color: var(--soft-red);
}

.services .tranform-brand-section img {
  background-image: url("./images/mobile/image-transform.jpg");
  min-height: 300px;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
}

.services .stand-out-section img {
  background-image: url("./images/mobile/image-stand-out.jpg");
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center center;
  min-height: 315px;
  background-repeat: no-repeat;
}

.services .graphic-design-section {
  background-image: url("./images/mobile/image-graphic-design.jpg");
  color: var(--very-dark-desaturated-blue);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 600px;
}

.services .graphic-design-section article,
.services .photography-section article {
  padding: 20px;
  font-size: 16px;
  position: relative;
  bottom: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 480px;
  margin: 0 auto;
}

.services .graphic-design-section p,
.services .photography-section p {
  color: var(--very-dark-desaturated-blue);
}

.services .photography-section {
  background-image: url("./images/mobile/image-photography.jpg");
  color: var(--very-dark-desaturated-blue);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
}
/* END SERVICES CSS */

/* START CLIENT TESTIMONIALS CSS */
.testimonial-section {
  padding-top: 60px;
  text-align: center;
}

.testimonial-section h2 {
  color: var(--grayish-blue);
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 5px;
  font-weight: 900;
}

.client-testimonial-group {
  padding-top: 25px;
  max-width: 480px;
  margin: 0 auto;
}

.client {
  padding: 35px 20px;
}

.client .client-img {
  border-radius: 50%;
  width: 70px;
}

.client .testimonial {
  padding: 30px 5px;
  font-family: "Barlow", sans-serif;
  line-height: 1.75;
  color: var(--very-dark-grayish-blue);
  font-weight: 600;
}

.client .name {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 18px;
  padding-bottom: 10px;
}

.client .job-title {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  color: var(--grayish-blue);
}
/* END CLIENT TESTIMONIALS CSS */

/* START IMAGE GALLERY CSS */
.image-gallery {
  display: grid;
}

.image-gallery div[role="img"] {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: 200px;
}

.image-gallery .milk-bottles {
  background: url("./images/mobile/image-gallery-milkbottles.jpg");
  grid-row: 1;
  grid-column: 1;
  width: 100%;
}

.image-gallery .orange {
  grid-row: 1;
  grid-column: 2;
  background: url("./images/mobile/image-gallery-orange.jpg");
  max-width: 100%;
}

.image-gallery .cone {
  grid-row: 2;
  grid-column: 1;
  background: url("./images/mobile/image-gallery-cone.jpg");
  max-width: 100%;
}

.image-gallery .sugar-cubes {
  grid-row: 2;
  grid-column: 2;
  background: url("./images/mobile/image-gallery-sugar-cubes.jpg");
  max-width: 100%;
}
/* END IMAGE GALLERY CSS */

/* START FOOTER CSS */
footer {
  background-color: var(--moderate-cyan-footer);
  text-align: center;
}

.footer-nav {
  padding-top: 60px;
}

.footer-nav .logo {
  height: 35px;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.footer-nav li {
  list-style: none;
  cursor: pointer;
  font-family: "B";
  color: var(--dark-moderate-cyan);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  padding: 20px 20px;
}

footer .social-media-links {
  padding: 60px;
}

footer .social-media-links a {
  padding: 0 10px;
}
footer .attribution {
  padding-bottom: 20px;
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: hsl(228, 45%, 44%);
}

/* END FOOTER CSS */

@media screen and (min-width: 480px) {
  .services .tranform-brand-section img,
  .services .stand-out-section img {
    min-height: 400px;
  }
}

@media screen and (min-width: 600px) {
  /* START MAIN CSS */
  /* .landing-page-container {
    max-width: 1440px;
  } */
  /* END MAIN CSS */

  /* START HEADER CSS */
  header {
    background-image: url("./images/desktop/image-header.jpg");
    min-height: 800px;
  }
  header h1 {
    padding: 50px 25px;
    font-size: 3.5rem;
  }
  /* END HEADER CSS */

  /* START SERVICES CSS */
  .services {
    display: grid;
    grid-template-areas:
      "transform transform"
      "stand-out stand-out"
      "graphic-design photography";
    grid-template-columns: 1fr 1fr;
  }

  .services .tranform-brand-section,
  .services .stand-out-section {
    padding-bottom: 0;
    display: flex;
  }

  .services .tranform-brand-section article,
  .services .stand-out-section article {
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0px;
  }

  .services .tranform-brand-section {
    flex-direction: row;
    grid-area: transform;
    height: 50vh;
  }

  .services .tranform-brand-section img {
    background-image: url("./images/desktop/image-transform.jpg");
    width: 50%;
  }

  .services .stand-out-section {
    flex-direction: row-reverse;
    grid-area: stand-out;
    height: 50vh;
  }

  .services .stand-out-section img {
    background-image: url("./images/desktop/image-stand-out.jpg");
    width: 50%;
    height: auto;
  }

  .services article h2 {
    font-size: 22px;
  }

  .services article p {
    padding: 20px 0px 0px;
    font-size: 14px;
    line-height: 1.2;
  }

  .services .learn-more {
    align-items: flex-start;
  }

  .services .learn-more .text {
    font-size: 12px;
  }

  .services .learn-more .text-underline {
    width: 100px;
    position: relative;
    right: 5px;
  }

  .services .graphic-design-section {
    background-image: url("./images/desktop/image-graphic-design.jpg");
    grid-area: graphic-design;
  }

  .services .photography-section {
    background-image: url("./images/desktop/image-photography.jpg");
    grid-area: photography;
  }
  /* END SERVICES CSS */
}

@media screen and (min-width: 768px) {
  /* START IMAGE GALLERY CSS */
  .image-gallery .milk-bottles {
    grid-row: 1;
    grid-column: 1;
    background: url("./images/desktop/image-gallery-milkbottles.jpg");
  }

  .image-gallery .orange {
    grid-row: 1;
    grid-column: 2;
    background: url("./images/desktop/image-gallery-orange.jpg");
  }

  .image-gallery .cone {
    grid-row: 1;
    grid-column: 3;
    background: url("./images/desktop/image-gallery-cone.jpg");
  }

  .image-gallery .sugar-cubes {
    grid-row: 1;
    grid-column: 4;
    background: url("./images/desktop/image-gallery-sugarcubes.jpg");

    /* END IMAGE GALLERY CSS */
  }
}

@media screen and (min-width: 992px) {
  header h1 {
    padding: 5rem;
  }
  .services .graphic-design-section {
    height: 50vh;
  }

  .services .photography-section {
    height: 50vh;
  }

  .testimonial-section {
    padding: 120px 20px;
    margin: 0 70px;
  }
  .client-testimonial-group {
    display: flex;
    max-width: unset;
  }

  .image-gallery div[role="img"] {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 24rem;
  }
}

/* @media screen and (min-width: 600px) {
} */
